body{
    margin: 0;
    height: 100vh;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgb(206,212,218);
    display: flex;
}

.inHeader{
    height: 80px;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.opções{
    background-color: rgb(206,212,218);
    height: 50px;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    font:caption;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoesCima{
    background-color: rgb(206,212,218);
    height: 50px;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    font:caption;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.botoesCima:hover{
    background-color: rgb(155, 160, 165);
}

.boards_text1{
    padding-left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
}

h3 {
    padding-left: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 150px;
    margin-left: 80px;
}