body{
    margin: 0;
    height: 100vh;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgb(206,212,218);
    display: flex;
}

.inHeader{
    height: 80px;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.opções{
    background-color: rgb(206,212,218);
    height: 50px;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    font:caption;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoesCima{
    background-color: rgb(206,212,218);
    height: 50px;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    font:caption;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.botoesCima:hover{
    background-color: rgb(155, 160, 165);
    cursor: pointer;
}

.boards_text1{
    padding-top: 40px;
    padding-left: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.boards_text2 {
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    display: block;
}

.botaoCreate {
    background-color: rgb(25, 135, 84); /*Cor de fundo*/
    color: white; /*Cor do texto*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Fonte do texto*/
    border-radius: 5px; /*Borda arredondada*/
    margin-left: 55px; /*Espaço da margem da esquerda*/
    padding-top: 10px; /*Define a altura do espaço de preenchimento na parte superior do elemento*/
    padding-bottom: 10px; /*Define a altura do espaço de preenchimento na parte inferior do elemento*/
    padding-left: 20px; /*Define a largura do preenchimento à esquerda do elemento*/
    padding-right: 20px; /*Define a largura do preenchimento à direita do elemento*/
    cursor: pointer; /*O cursor do mouse altera quando passa pelo elemento*/
    box-shadow: 2px 2px 5px grey; /*Sombra*/
}

.botaoCreate:hover {
    background-color: rgb(35, 197, 122);
}

.primeiroQuadrado {
    background-color: #75B798;
    height: 400px;
    width: 300px;
    margin: 120px;
    border-radius: 8px;
}