body{
    margin: 0; /*Remove todas as margens ao redor do elemento*/
    height: 100vh; /*Altura*/
}

header{
    height: 80px; /*Altura*/
    width: 100%; /*Comprimento*/
    background-color: rgb(206,212,218); /*Cor de fundo*/
    display: flex; /*Layout flexível*/
}

.inHeader{
    height: 80px; /*Altura*/
    width: 78%; /*Comprimento*/
    display: flex; /*Layout flexível*/
    align-items: center; /*Centraliza os itens*/
    justify-content: center; /*Layout flexível e centraliza os itens*/
    flex-direction: row; /*Define a direção principal dos itens*/
}

.opções{
    background-color: rgb(206,212,218); /*Cor de fundo*/
    height: 50px; /*Altura*/
    width: 150px; /*Comprimento*/
    margin-top: 4px; /*Margem superior*/
    margin-bottom: 4px; /*Margem inferior*/
    margin-left: 50px; /*Margem da esquerda*/
    margin-right: 50px; /*Margem da direita*/
    border: 0; /*Remove todas as bordas do elemento*/
    font: caption; /*Alinha itens verticalmente*/
    display: flex; /*Layout flexível*/
    align-items: center; /*Centraliza os itens*/
    justify-content: center; /*Layout flexível e centraliza os itens*/
}

.botoesCima{
    background-color: rgb(206,212,218); /*Cor de fundo*/
    height: 50px; /*Altura*/
    width: 150px; /*Comprimento*/
    margin-top: 4px; /*Margem superior*/
    margin-bottom: 4px; /*Margem inferior*/
    margin-left: 50px; /*Margem da esquerda*/
    margin-right: 50px; /*Margem da direita*/
    border: 0; /*Remove todas as bordas do elemento*/
    font: caption; /*Alinha itens verticalmente*/
    display: flex; /*Layout flexível*/
    align-items: center; /*Centraliza os itens*/
    justify-content: center; /*Layout flexível e centraliza os itens*/
    border-radius: 8px; /*Borda arredondada*/
}

.botoesCima:hover{
    background-color: rgb(155, 160, 165); /*Cor de fundo*/
    cursor: pointer; /*O cursor do mouse altera quando passa pelo elemento*/
}

.boards_text1{
    padding-top: 40px; /*Define a altura do espaço de preenchimento na parte superior do elemento*/
    padding-left: 40px; /*Define a largura do preenchimento à esquerda do elemento*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Fonte do texto*/
    font-size: xx-large; /*Tamanho da fonte*/
}

.boards_text2 {
    padding-left: 40px; /*Define a largura do preenchimento à esquerda do elemento*/
    padding-top: 50px; /*Define a altura do espaço de preenchimento na parte superior do elemento*/
    padding-bottom: 10px; /*Define a altura do espaço de preenchimento na parte inferior do elemento*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Fonte do texto*/
    font-size: large; /*Tamanho da fonte*/
    display: block; /*Renderiza um embaixo do outro*/
}

.botaoCreate {
    background-color: rgb(25, 135, 84); /*Cor de fundo*/
    color: white; /*Cor do texto*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Fonte do texto*/
    border-radius: 5px; /*Borda arredondada*/
    margin-left: 55px; /*Espaço da margem da esquerda*/
    padding-top: 10px; /*Define a altura do espaço de preenchimento na parte superior do elemento*/
    padding-bottom: 10px; /*Define a altura do espaço de preenchimento na parte inferior do elemento*/
    padding-left: 20px; /*Define a largura do preenchimento à esquerda do elemento*/
    padding-right: 20px; /*Define a largura do preenchimento à direita do elemento*/
    cursor: pointer; /*O cursor do mouse altera quando passa pelo elemento*/
    box-shadow: 2px 2px 5px grey; /*Sombra*/
}

.botaoCreate:hover {
    background-color: rgb(35, 197, 122); /*Cor de fundo*/
}

.primeiroQuadrado {
    right: 850px;
    position: absolute;
    z-index: auto;
    background-color: #75B798; /*Cor de fundo*/
    height: 400px; /*Altura*/
    width: 300px; /*Comprimento*/
    margin: 120px; /*Margem em relação aos elementos que estão ao seu redor*/
    border-radius: 8px; /*Borda arredondada*/
}

.hide{
    display: none;
}

.formNewBoard{
    position: absolute;
    z-index: 2;
    left: 550px;
    bottom: 230px;
}

.container{
    position: relative;
}